<div class="comment">
    <div class="justify-content-between d-flex">
        <div class="user justify-content-between d-flex">
            <div class="thumb">
                <img width="60" height="60" src="{{ asset('upload/avatar/') ~ comment.user.avatar }}" alt="">
            </div>
            <div class="desc">
                <div class="info">
                    <div class="author">
                        <h5><a href="#">{{ comment.user.username }}</a></h5>
                    </div>

                    <div class="reputation">
                        <span class="rep onplus">{{ comment.reputation }}</span>
                        {% if app.user %}
                            {% if comment.user != app.user %}
                                <a href="{{ path('comment_add_rep', {'id': comment.id}) }}" class="btn-action plus text-uppercase">+</a>
                                <a href="{{ path('comment_minus_rep', {'id': comment.id}) }}" class="btn-action minus text-uppercase">-</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <p class="date">{{ comment.createdAt | date('d/m/Y') }} o godzinie {{ comment.createdAt | date('H:i') }}</p>
                <p>
                    {{ comment.content }}
                </p>
                {% if app.user == comment.user %}
                    <div class="reply-btn">
                        <a href="{{ path('comment_modify', {'id': comment.id}) }}" class="btn-action text-uppercase">Edytuj</a>
                        <a href="{{ path('comment_delete', {'id': comment.id}) }}" class="btn-action text-uppercase">Usuń</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
