{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    {#<article class="panel">
        <div class="media">
            <img class="mr-2 thumbnail" width="150" src="{{ asset('upload/article/') ~ article.image }}" alt="">
            <div class="media-body">
                <div class="description">
                    <h1>{{ article.title }}</h1>
                    Napisany przez <a href="{{ path('user_show', {'id': article.user.id}) }}">{{ article.user.username }}</a>, {{ article.createdAt | date('d/m/y') }}
                </div>
                <p>{{ article.content }}</p>
            </div>
        </div>
        <hr>

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">{{ flashMessage }}</div>
        {% endfor %}

        {% if app.user %}
            {{ form(form) }}
        {% endif %}
        {% if article.comments %}
            {% for comment in article.comments|sort|reverse  %}
                {{ include('home/comment.html.twig', { 'comment': comment}) }}
            {% endfor %}
        {% endif %}
    </article>#}

    <div class="content">
        <article class="read">
            <div class="image">
                <img class="img-fluid" src="{{ asset('upload/article/') ~ article.image }}" alt="">
            </div>
            <div class="article-wrap">
                <ul class="tags mt-10">
                    <li><a href="#">Food Habit</a></li>
                </ul>
                <a href="#">
                    <h1>{{ article.title }}</h1>
                </a>
                <ul class="meta pb-20">
                    <li><a href="{{ path('user_show', {'id': article.user.id}) }}"><i class="far fa-user"></i>{{ article.user.username }}</a></li>
                    <li><a href="{{ path('article_show', {'id': article.id}) }}"><i class="far fa-calendar-alt"></i>{{ article.createdAt | date('m/d/Y') }}</a></li>
                    <li><a href="{{ path('article_show', {'id': article.id}) }}"><i class="far fa-comments"></i>{{ article.comments | length }} Komentarze</a></li>
                </ul>
                <p>
                    {{ article.content }}
                </p>
            </div>

            <div class="comments">
                {% if article.comments %}
                    <h6>{{ article.comments | length }} Komentarzy</h6>
                    {% for comment in article.comments|sort|reverse  %}
                        {{ include('home/comment.html.twig', { 'comment': comment}) }}
                    {% endfor %}
                {% endif %}
            </div>

            {% if app.user %}
                <div class="new-comment">
                    <h3>Dodaj nowy komentarz</h3>

                    {{ form(form) }}
                </div>
            {% endif %}
        </article>
    </div>

{% endblock %}