<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>CraftyAdmin - {% block title %}{% endblock %}</title>

        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&amp;subset=latin-ext" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid header">
            <div class="logo">
                blajCMS
            </div>
        </div>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home') }}"><i class="fas fa-home"></i>Strona główna</a>
                        </li>
                        {% if app.user %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="userPanel" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-user"></i>Panel użytkownika
                                </a>
                                <div class="dropdown-menu" aria-labelledby="userPanel">
                                    <a class="dropdown-item" href="{{ path('user') }}">Informacje</a>
                                    <a class="dropdown-item" href="{{ path('user_change_password') }}">Zmień hasło</a>
                                    <a class="dropdown-item" href="{{ path('user_change_email') }}">Zmień E-Mail</a>
                                    <a class="dropdown-item" href="{{ path('user_change_avatar') }}">Zmień avatar</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="messages" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-envelope"></i>Wiadomości
                                </a>
                                <div class="dropdown-menu" aria-labelledby="messages">
                                    <a class="dropdown-item" href="{{ path('messages_received') }}">Otrzymane wiadomości</a>
                                    <a class="dropdown-item" href="{{ path('messages_sent') }}">Wysłane wiadomości</a>
                                    <a class="dropdown-item" href="{{ path('messages_send') }}">Wyślij nową</a>
                                </div>
                            </li>
                            {% if is_granted("ROLE_ADMIN") %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('admin') }}" target="_blank"><i class="fas fa-sign-out-alt"></i>Panel administracyjny</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i>Wyloguj się</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('user_register') }}"><i class="fas fa-user-plus"></i>Zarejestruj się</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <div class="row">
                <!-- CONTENT -->
                <div class="col-lg-9">
                    {% block body %}{% endblock %}
                </div>

                <!-- SUB PANEL -->
                <div class="col-lg-3">
                    {% if not app.user %}
                    <div class="subpanel">
                        <div class="subpanel-heading">
                            <i class="fas fa-sign-in-alt"></i>Zaloguj się
                        </div>
                        <div class="subpanel-body">
                            <form method="post" action="{{ path('app_login') }}">
                                <div class="form-group">
                                    <input type="text" name="username" class="form-control" placeholder="Wpisz nazwę użytkownika">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" class="form-control" placeholder="Wpisz hasło">
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" name="_remember_me" class="form-check-input">
                                    <label class="form-check-label">Zapamiętaj mnie</label>
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <button type="submit" class="btn btn-success">Zaloguj się</button>
                            </form>
                        </div>
                    </div>
                    {% endif %}

                    <div class="subpanel">
                        <div class="subpanel-heading">
                            <i class="fas fa-book"></i>Ostatnie komentarze
                        </div>
                        <div class="subpanel-body">
                            <ul>
                                {% if lastComments %}
                                    {% for lastComment in lastComments %}
                                        <li><a href="{{ path('article_show', {'id': lastComment.article.id}) }}">{{ lastComment.content[:30] ~ '...' }}</a></li>
                                    {% endfor %}
                                {% else %}
                                    Brak komentarzy
                                {% endif %}
                            </ul>
                        </div>
                    </div>

                    <div class="subpanel">
                        <div class="subpanel-heading">
                            <i class="fas fa-file-invoice"></i>Statystyki
                        </div>
                        <div class="subpanel-body">
                            <ul class="li"><b>Artykułów: </b>{{ countArticles }}</ul>
                            <ul class="li"><b>Komentarzy: </b>{{ countComments }}</ul>
                            <ul class="li"><b>Użytkowników: </b>{{ countUsers }}</ul>
                            <ul class="li"><b>Najnowszy użytk.: </b><a href="{{ path('user_show', {'id': lastRegisterUser.id}) }}">{{ lastRegisterUser.username }}</a></ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <p class="text-center">
                <a href="#">blaj.pl</a> &copy; 2018 | blajCMS by: <a href="http://blaj.pl">Blaj</a>
                <br>
                <span class="text-black-50">Stworzone w Symfony4 & Bootstrap4</span>
            </p>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
