{% extends 'base.html.twig' %}

{% block title %}Informacje{% endblock %}

{% block body %}
    <div class="content">
        <div class="heading">
            Informacje
        </div>
        <div class="media">
            <img class="mr-2 thumbnail" width="150" height="150" src="{{ asset('upload/avatar/') ~ app.user.avatar }}" alt="">
            <div class="media-body">
                <div class="description">
                    <h1><a href="">{{ app.user.username }}</a></h1>
                </div>
                <p class="p-0 m-0"><b>Komentarzy: </b>{{ app.user.comments | length }}</p>
                <p class="p-0 m-0"><b>E-Mail: </b>{{ app.user.email }}</p>
                <p class="p-0 m-0"><b>Konto utworzone: </b>{{ app.user.registeredAt | date('d/m/y, H:i') }}</p>
            </div>
        </div>
    </div>
{% endblock %}
